html,
body,
ul,
p,
ol,
::after,
::before {
    margin: 0;
    padding: 0;
    direction: rtl;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $fontFamily;
}